* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    background: url(assets/fundo_calculadora_imc.jpg);
    background-position: center;
    background-size: cover;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    background-color: #4b6149a2;
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
}

.container h1 {
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 40px;

}

.container p {
    font-size: 18px;
    margin-top: 10px;
    color: bisque;
    text-align: center;
}

.container input {
    padding: 15px 20px;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    margin-top: 15px;
    text-align: center;
}

.container2 {
    padding-top: 10px;
    background-color: #ffffff8e;
    width: 480px;
    height: 270px;
    border-radius: 10px;
    margin-left: 50px;
    text-align: center;
}

.formula-peso {
    margin-left: 50px;
}

.container2 ul {
    text-align: start;
    margin: 10px 20px;
    font-size: 20px;
}

section {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.altura {
    margin-bottom: 30px;
}

button {
    margin-top: 15px;
    padding: 10px 20px;
    border-radius: 10px;
    color: rgb(12, 12, 12);
    font-size: 15px;
    background-color: rgb(98, 173, 238);
    cursor: pointer;
}

button:active {
    background-color: rgb(180, 178, 178);
}
@media(max-width:1100px) {
    .container {
        background-color: #4b6149a2;
        width: 300px;
        height: 350px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: 10px;
        margin-top: 10px;
    }

    .container h1 {
        font-size: 25px;
        font-weight: 700;
        margin-bottom: 30px;

    }

    .formula-peso {
        margin-top: 20px;
        margin-left: 10px;

    }

    .container2 {
        background-color: #ffffff49;
        width: 350px;
        height: 260px;
        margin-top: 20px;
        margin-left: 0px;
    }

    .container2 h1 {
        font-size: 18px;
    }

    .container2 ul {
        text-align: start;
        margin: 10px 20px;
        font-size: 15px;
    }

    section {
        min-width: 90%;
        min-height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

    }

}

@media(max-width:700px) {
    .container {
        background-color: #4b6149a2;
        width: 300px;
        height: 360px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: 10px;
        margin-top: 10px;
    }

    .container h1 {
        font-size: 25px;
        font-weight: 700;
        margin-bottom: 30px;

    }

    .formula-peso {
        margin-top: 20px;
        margin-left: 10px;

    }

    .container2 {
        background-color: #ffffff49;
        width: 350px;
        height: 260px;
        margin-top: 20px;
        margin-left: 0px;
    }

    .container2 h1 {
        font-size: 18px;
    }

    .container2 ul {
        text-align: start;
        margin: 10px 20px;
        font-size: 15px;
    }

    section {
        min-width: 100%;
        min-height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

    }

}

@media(max-width:400px) {
    .container2 {
        background-color: #ffffff49;
        width: 340px;
        height: 250px;
        margin-top: 20px;
        margin-left: 0px;
    }

    .container2 h1 {
        font-size: 18px;
    }

    .container2 ul {
        text-align: start;
        margin: 10px 20px;
        font-size: 14px;
    }

}

@media(max-width:380px) {
    .container2 {
        width: 332px;
        height: 252px;
        margin-top: 18px;
        margin-left: -10px;
    }

    .container2 h1 {
        font-size: 17px;
    }

    .container2 ul {


        font-size: 14px;
    }
}